In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user='root', password='1234')
cursor = connection.cursor(buffered=True)

In [3]:
cursor.execute('show databases')
# cursor.execute('drop database testdb')
for database in cursor:
    print(database)

('adeiza_lemon',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
# cursor.execute('create database adeiza_lemon')
cursor.execute('USE adeiza_lemon')

connection.database

'adeiza_lemon'

In [5]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""



create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""


Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""


create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

cursor.execute(create_menu_table)
cursor.execute(create_orders_table)
cursor.execute(Create_booking_table)

ProgrammingError: 1050 (42S01): Table 'menus' already exists

In [ ]:
cursor.execute("Show Tables")

for table in cursor:
    print(table)

('bookings',)
('menus',)
('orders',)